<!-- código da aula 12 -->
<h2>Cadastro de usuário</h2>
<code>
  {{ User.cadastrado | json }} <br>
</code>
<p>
  {{ User.erro | json }}
</p>
<form name="User.userForm">
  <div data-ng-class="{'invalid': User.form.simbolo.$invalid && !User.form.simbolo.$pristine, 'dirty': User.form.simbolo.$dirty}">
    <input type="text" name="simbolo" data-ng-model="User.form.simbolo" placeholder="Símbolo" required>
  </div>
  <div data-ng-class="{'invalid' : User.form.massaAtomica.$invalid && !User.form.name.$pristine}">
    <input type="text" name="massaAtomica" data-ng-model="User.form.massaAtomica" placeholder="massaAtomica">
  </div>
  <div data-ng-class="{'invalid' : User.form.nome.$invalid && !User.form.name.$pristine}">
    <input type="text" name="nome" data-ng-model="User.form.nome['pt-br']" placeholder="Nome">
  </div>
  <h3>Família</h3>
  <div data-ng-class="{'invalid' : User.form.familia.$invalid && !User.form.name.$pristine}">
    <input type="text" name="familiaTipo" data-ng-model="User.form.familia.tipo" placeholder="Familia TIPO">
  </div>
  <div data-ng-class="{'invalid' : User.form.familia.$invalid && !User.form.name.$pristine}">
    <input type="text" name="familiaNome" data-ng-model="User.form.familia.nome" placeholder="Familia TIPO">
  </div>
  <h3>Números de</h3>
  <div>
    <input type="text" name="eletrons" data-ng-model="User.form.numero.eletrons" placeholder="eletrons">
  </div>
  <div>
    <input type="text" name="protons" data-ng-model="User.form.numero.protons" placeholder="protons">
  </div>
  <div>
    <input type="text" name="neutrons" data-ng-model="User.form.numero.neutrons" placeholder="neutrons">
  </div>
  <h3>Raio Atomico</h3>
  </div>
  <div>
    <input type="text" name="raioAtomico" data-ng-model="User.form.raioAtomico" placeholder="Raio Atomico">
  </div>
  <h3>Meia Vida</h3>
  </div>
  <div>
    <input type="text" name="meiaVida" data-ng-model="User.form.meiaVida.valor" placeholder="Meia Vida">
    <input type="text" name="meiaVida" data-ng-model="User.form.meiaVida.unidade" placeholder="Meia Vida UNIDADE">
  </div>
  
<!--   <div data-ng-class="{'invalid' : User.form.familia.$invalid && !User.form.name.$pristine}">
    <input type="text" name="familiaValor" data-ng-model="User.form.familia.tipo" placeholder="Nome">
  </div> -->


  <button ng-click='User.submitForm(User.form)' data-ng-disabled="User.editing || User.form.name.$pristine" class="btn btn-large green waves-effect waves-light col s12" type="submit" name="action">CREATE</button>
</form>